@charset "utf-8";
@keyframes textAnim {
    0% {
        /*transform: translateY(0px);*/
        transform: rotateX(20deg)  translateZ(0) translateY(0px);
    }
    /*25% {
        transform: rotateX(20deg)  translateZ(0) translateY(-125px);
    }
    50% {
        transform: rotateX(20deg)  translateZ(0) translateY(-250px);
    }
    75% {
        transform: rotateX(20deg)  translateZ(0) translateY(-375px);

    }*/
    90% {
      opacity: 1;
    }
    99% {
        transform: rotateX(20deg)  translateZ(0) translateY(-500px);
    }
    100% {
        opacity: 0;
        /*animation-play-state: paused;*/
    }
}
@keyframes starShine {
    0% {

        opacity: 1;
    }
    25% {
        opacity: 0.99;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.99;
    }
    90% {
      opacity: 1;
    }
    100% {
        opacity: 0.99;
    }
}
#bckgr{
  background-color: black;
  background-image: url("stars.png");
  position: absolute;
  z-index: -1;
  animation: starShine 2s infinite;
}
/*body{
  background-color: black;
  background-image: url("stars.png");
  animation: starShine 20s;
}*/
h1{
 color: yellow;
 text-align: center;
}
p{
 color: yellow;
}
.wrapper
{
  padding: 20px;
  perspective: 400px;
  display: flex;
  justify-content: center;

}
.content{
  padding: 100px;
  width: 80%;
  /*border: 1px solid;*/

  animation: textAnim 20s;
}
