@charset "utf-8";
@keyframes textAnim {
    0% {
        /*transform: translateY(0px);*/
        transform: rotateX(20deg)  translateZ(0) translateY(0px);
    }
    25% {
        transform: rotateX(20deg)  translateZ(0) translateY(-125px);
    }
    50% {
        transform: rotateX(20deg)  translateZ(0) translateY(-250px);
    }
    75% {
        transform: rotateX(20deg)  translateZ(0) translateY(-375px);
    }
    100% {
        transform: rotateX(20deg)  translateZ(0) translateY(-500px);
    }
}
body{
  background-color: black;
}
h1{
 color: yellow;
}
p{
 color: yellow;
}
.wrapper
{
  padding: 20px;
  perspective: 400px;
  display: flex;
  justify-content: center;

}
.content{
  padding: 100px;
  width: 80%;
  /*border: 1px solid;*/

  animation: textAnim 20s;
}
